<%- include("./partials/header.ejs") %> 

<div class="ui main text container segment" id = "thisone">
    <div class="ui huge header">Edit <%= blog.title %> </div>


<form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">

    <!-- WE HAVE ADDED METHOD OVER RIDE HERE , AS A DEFAULT HTML CANT SEND A PUT REQUEST SO 
    WE HAVE TO USE METHOD OVERRIDE -->

    <div class="field">
        <label for="title">Title</label>
        <input type="text" name="blog[title]" value="<%= blog.title %> ">
    </div>

    <div class="field">
        <label for="image">Image</label>
        <input type="text" name="blog[image]" value="<%= blog.image %> ">

    </div>


    <div class="field">
        <label for="Content">Blog Content</label>
        <textarea name="blog[body]"><%= blog.body %> </textarea>
    </div>

    <button class="ui violet basic big button">Done Editing</button>





</form>

</div>



<%- include("./partials/footer.ejs") %> 
